@using BusinessObject.Models
@model IEnumerable<BusinessObject.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>List Product</h1>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CreateModal">Create New</button>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="CreateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="CreateModal" aria-hidden="true">
    <div class="modal-dialog" style="min-width: 70%">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="name" class="control-label">Product Name:</label>
                            <input id="name" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="desc" class="control-label">Description:</label>
                            <textarea id="desc" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="price" class="control-label">Price</label>
                            <input id="price" type="number" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="img" class="control-label">Choose img</label>
                            <input id="img" type="file" accept="image/*" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="cate_id" class="control-label">Category</label>
                            <select id="cate_id" class="form-control">
                                @foreach (Category c in @ViewBag.Cate)
                                {
                                    <option value="@c.CategoryId">@c.CategoryName</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <input onclick="CreateProduct()" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    const CreateProduct = () => {
        var name = $('#name').val();
        var desc = $('#desc').val();
        var price = $('#price').val();
        var imgFile = $('#img').prop('files')[0];
        var cate_id = $('#cate_id').val();


        var fileName = imgFile.name;
        var fileExtension = fileName.split('.').pop();

        var reader = new FileReader();
        reader.onloadend = function() {
            var imgDataUrl = reader.result; // Base64-encoded image data URL

            // Create the request payload
            var data = {
                Name: name,
                Description: desc,
                Price: price,
                Image: imgDataUrl,
                CategoryId: cate_id,
                extension: fileExtension
            };

            // Make the AJAX request
            $.ajax({
                url: 'https://localhost:7283/api/Product/AddProduct',
                method: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: function(response) {
                    console.log(response);
                },
                error: function(xhr, status, error) {
                    console.log(error);
                }
            });
        };

        reader.readAsDataURL(imgFile);
    }

</script>